@import "~@angular/material/theming";

.notification {
    align-items: flex-start;
    background-color: #323232;
    border-radius: 4px;
    box-sizing: border-box;
    color: $light-secondary-text;
    display: flex;
    margin-bottom: 24px;
    min-height: 48px;
    padding: 14px 16px;

    &:last-child {
        margin-bottom: 0;
    }

    &--success {
        background: #4CAF50;
        color: $light-primary-text;
    }

    &--error {
        background-color: #f44336;
        color: $light-primary-text;
    }

    &--warning {
        background-color: #FF9800;
        color: $light-primary-text;
    }
}

.icon {
    margin: -3px 8px -1px 0;
}

.message {
    flex-grow: 1;
    margin: 0;
}

.close {
    margin: -11px -8px -9px -1px;
}
